.home{
  display: flex;
  width: 600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  justify-content: center;

  box-shadow: 0 0 20px rgba(0, 0, 0, 10);
  
}

.logoHome{
  font-size: 80px;
  color: red;
  margin-bottom: 45px;
}

.buttonEntrar{
  font-size: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 100px;
  border-radius: 25px;
  cursor: pointer;
}

.buttonEntrar:hover {
  background-color: #0056b3;
}