header {
  background-color: rgb(9, 7, 125);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.linguagens {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

img{
  margin-right: 5px;
  cursor: pointer;
}

.logoFooter{
  font-size: 30px;
  color: #FFF;
  padding-top: 12px;
  padding-left: 30px;
  font-weight: bold;
}