header {
  background-color: rgb(59, 218, 191);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.linguagens {
  display: flex;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

img{
  margin-right: 5px;
  cursor: pointer;
}