nav.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 129, 206);
}

.align-items-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(42, 129, 206);
    justify-content: center;
}


.align-items-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(42, 129, 206);
    margin-bottom: 10px;
    justify-content: center;
  }
  

.link div {
    display: flex;
    align-items: center;

    padding: 5px;
    border: 1px solid black;
    background-color: rgb(53, 23, 160);
    text-decoration: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}

.link div:hover {
    background-color: rgb(39, 17, 112);
}

.link div:active {
    background-color: rgb(29, 13, 83);
}

.link {
    width: 90%;
    text-decoration: none;
    margin-top: 11px;
}

nav div span {
    margin-left: 10px;
}


  