#containerPosts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 90px;
    align-items: center;
}

.containerPostit{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.criarPost{
    position: relative;
}