.app {
    display: grid;
    height: 100vh;

    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "header"
        "main";
}

header.header {
    grid-area: header;
}

main.main {
    grid-area: main;
}

footer.footer {
    grid-area: footer;
}